* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

#settings-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

#settings-container.hidden {
    opacity: 0;
    visibility: hidden;
}

.settings-box {
    padding: 20px;
    min-width: 50.667vw;
    min-height: 70.3vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    border: 1px solid #ff880088;
    box-shadow: 0 0 30px #0000002a;
}

.settings-header {
    text-align: center;
    margin-bottom: 20px;
    -webkit-text-stroke:.1vh #ff8800 ;
    background: radial-gradient(65.42% 65.42% at 50% 50%, rgba(255, 136, 0, 0.83) 0%, #422401 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.1vh #ff8800;
    text-shadow: 0px 0px 5vh #ff8800d8;
    font-size: 28px;
}

.settings-content {
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    position: relative;
    top: 40px;
}

.setting-item {
    display:block;
    width: 10vw;
    height: 15vh;
    background-color: rgba(66, 66, 66, 0.1);
    border-radius: 10px;
    text-align: center;
    border: 1px solid #ff880088;
}

.setting-title {
    color: white;
    font-size: 18px;
    position: relative;
    top: 10px;
    font-weight: 500;
    text-align: center;
    display: block;
    margin-bottom: 70px;
}

.setting-item button {
    width: 60px;
    color: white;
    background-color: rgba(92, 92, 92, 0.1);
    border: 1px solid #ff880088;
    border-radius: 4px;
    height: 30px;
}

.setting-item button.active {
    opacity: 1;
    background-color: rgba(46, 46, 46, 0.418)
}

.setting-item button.inactive {
    opacity: 0.5;
    background-color: rgba(92, 92, 92, 0.1);
}
